*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height:90vh;
    background-image: linear-gradient(75deg, rgba(0,0,  0,0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../IMAGE/IMG_1076.JPG);
    background-size: cover ;
    background-position: center;
}
.main:hover{
    background-size: cover;
    background-image: linear-gradient(75deg, rgba(0,0,  0,0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../IMAGE/IMG_1072.JPG);
    cursor: pointer;
}
.nav{
    position: sticky;
    align-items: center;
    background-color:transparent;
    display: flex;
    height: 8vh;
}
.nav .logo{
    font-weight: bold;
    font-size: 250%;
    color: #dcdcdc;
    margin-left: 10%;
}
.nav .LOGO1 img{
    width: 200%;
    
}
.nav .LOGO1 button{
    padding: auto;
    margin-left: 50%;
    border: none;
    background-color: transparent;
}
.nav .LOGO1 button img:hover{
    color: #dec05f;
    cursor: pointer;
}
.nav .nav1{
    text-decoration: none;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    margin-right: 40%;
}
.nav .nav1 a{
    text-decoration: none;
    color: #dcdcdc;    
}
.nav .nav1 a:hover{
    background-color: #dec05f;
    cursor: pointer;
}
.nav .nav1 .og1{
    text-decoration: none;
    margin-left: 30px;
    color: darkblue;
}
.nav .nav1 .og2{
    text-decoration: none;
    margin-left: 30px;
}
.nav .nav1 .og3{
    text-decoration: none;
    margin-left: 35px;
}
.nav .nav1 .og4{
    text-decoration: none;
    margin-left: 35px;
}
.nav .nav1 .og5 {
    text-decoration: none;
    margin-left: 35px;
}
.nav .nav1 .og6{
    text-decoration: none;
    margin-left: 35px;
}





.nav2{
    position: relative;
    background-color:transparent;
    height: 85vh;
}
.nav2 .son h1{
    font-size: 8em;
    font-weight: bold;
    position: absolute;
    color: #dcdcdc;
    top: 10%;
    margin-left: 20%;
    width: 50px;
}
.nav2 .son button{
    background-color: #dec05f;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    padding: 25px 100px;
    position: absolute;
    left: 22%;
    top: 60%;
}
.nav2 .son button:hover{
    background-color: darkgoldenrod;
    cursor: pointer;
}




 .navbar ul{
    list-style-type: none;
    border-bottom: 2px solid #595959;
    color: #afafaf;
    align-items: center;
    background-color:#080808;
    height: 10vh;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}
.navbar .ic{
    margin-right: 20px;
    color: #afafaf;
    font-size: 30px;
}






.fresh{
    border-bottom: 2px solid #595959;
    background-color: #080808;
    display: flex;
    height: auto;
}
.fresh .og1{
    border-right: 2px solid #595959;
    background-color: #080808;
    height: auto;
    width: 10%;
}
.fresh .og2{
    align-items: center;
    background-color:#080808;
    height: 70vh;
    width: 90%;
}
.fresh .og2 .og2son1{
    display: flex;
}
.og2 .og2son1 .fan1{
    margin-top: 8%;
    margin-left: 20px;
    color: #afafaf;
    font-weight: bold;
}
.og2 .og2son1 .fan1 h1{
    color: #dec05f;
    margin-bottom: 10px;
    font-size: 3em;
}
.og2 .og2son1 .fan1 p{
    font-size: 20px;
}
.og2 .og2son1 .fan1 .pb{
    margin-top: 20px;
}
.og2 .og2son1 .fan1 .pb button{
    margin-top: 20px;
    margin-bottom: 10%;
}
.og2 .og2son1 .fan2{
    margin-left: 70px;
    margin-top: 20px;
    height: 30vh;
    width: 55%;
}
.og2 .og2son1 .fan1 button{
    color: #dec05f;
    font-weight: bold;
    background-color: transparent;
    border: none;
}
.og2 .og2son1 .fan1 button:hover{
    background-color: darkgoldenrod;
}
.fre{
    display: none;
}




.ot{
    border-bottom: 2px solid #595959;
    color: #dec05f;
    height: 20vh;
    display: flex;
}
.ot .ot1{
    border-right: 2px solid #595959;
    width: 35%;
    background-color: #080808;
}
.ot .ot1 h1{
    margin-top: 30px;
    margin-left: 50%;
}
.ot .ot1 p{
    margin-left: 50%;
}
.ot .ot2{
    border-right: 2px solid #595959;
    width: 20%;
    background-color: #080808;
}
.ot .ot2 h1{
    margin-top: 30px;
    margin-left: 40%;
}
.ot .ot2 p{
    margin-left: 40%;
}
.ot .ot3{
    border-right: 2px solid #595959;
    width: 45%;
    background-color: #080808;
}
.ot .ot3 h1{
    margin-top: 30px;
    margin-left: 10%;
}
.ot .ot3 p{
    margin-left: 10%;
}




.pro{
    display: flex;
    height: 20vh;
}
.pro .pro1{
    border-right: 2px solid #595959;
    width: 20%;
    background-color:#080808;
}
.pro .pro2{
    color: #afafaf;
    border-right: 2px solid #595959;
    text-align: center;
    width: 60%;
    background-color: #080808;
}
.pro .pro2 h1{
    color: #dec05f;
    margin-top: 60px;
}
.pro .pro3{
    width: 20%;
    background-color: #080808;
}





.image{
    font-size: 20px;
    color: white;
    display: flex;
    height: 70vh;
}
.image .image1{
    font-weight: bold;
    background-size: cover;
    background-image: url(../IMAGE/IMG_1026.JPG);
    width: 25%;
}
.image .image1:hover{
    background-position: center;
    background-size: cover;
    background-image: url(../IMAGE/IMG_1044.JPG);
    cursor: pointer;
}

.image .image1 h2{
    color: #dec05f;
    margin-top: 30px;
    margin-left: 20px;
}
.image .image1 p{
    margin-left: 20px;
}
.image .image2{
    font-weight: bold;
    background-size: cover;
    background-image: url(../IMAGE/IMG_1075.JPG);
    width: 25%;
}
.image .image2:hover{
    background-position: center;
    background-size: cover;
    background-image: url(../IMAGE/IMG_1036.JPG);
    cursor: pointer;
}
.image .image2 h2{
    color: #dec05f;
    margin-left: 20px;
    margin-top: 30px;
}
.image .image2 p{
    margin-left: 20px;
}
.image .image3{
    font-weight: bold;
    background-size: cover;
    background-image: url(../IMAGE/IMG_1032.JPG);
    width: 25%;
}
.image .image3:hover{
    background-position: center;
    background-size: cover;
    background-image: url(../IMAGE/IMG_1037.JPG);
    cursor: pointer;
}
.image .image3 h2{
    color: #dec05f;
    margin-left: 20px;
    margin-top: 30px;
}
.image .image3 p{
    margin-left: 20px;
}
.image .image4{
    background-repeat: borepeat;
    font-weight: bold;
    background-size: cover;
    background-image: url(../IMAGE/IMG_1030.JPG);
    width: 25%;
}
.image .image4:hover{
    background-position: center;
    background-size: cover;
    background-image: url(../IMAGE/IMG_1039.JPG);
    cursor: pointer;
}
    
.image .image4 h2{
    color: #dec05f;
    margin-left: 20px;
    margin-top: 30px;
}
.image .image4 p{
    margin-left: 20px;
}
.imag{
    display: none;
}




.futer{
    border-top: 2px solid #595959;
    background-color: #080808;
    display: flex;
}
.futer .futer1{
    margin-left: 50px;
    margin-top: 10px;
}
.futer .futer1 h1{
    color: #dec05f;
    margin-top: 30%;
    margin-bottom: 7%;
}
.futer .futer1 .son1{
    margin-bottom: 10px;
}
.futer .futer1 .son1 input{
    border: none;
    background-color: #353525;
    font-weight: bold;
    padding: 20px 50px;
}
.futer .futer1 .son2{
    margin-bottom: 10px;
}
.futer .futer1 .son2 input{
    border: none;
    background-color: #353525;
    font-weight: bold;
    padding: 20px 50px;
}
.futer .futer1 .son3{
    margin-bottom: 40px;
}
.futer .futer1 .son3 input{
    border: none;
    background-color: #353525;
    font-weight: bold;
    padding: 20px 50px;
}
.futer .futer2{
    margin-left: 20px;
    margin-top: 10px;
}
.futer .futer2 textarea{
    margin-top: 46%;
    border: none;
    background-color: #353525;
}
.futer .futer2 button{
    margin-top: 5px;
    margin-left: 1px;
    border: none;
    background-color: #dec05f;
    font-weight: bold;
    padding: 20px 128.5px;
}
.futer .futer2 button:hover{
    background-color: darkgoldenrod;
    cursor: pointer;
}
.futer .futer3{
    margin-left: 7%;
    margin-top: 10.5%;
    color: #dcdcdc;
}
.futer .futer3 h4{
    margin-bottom: 20px;
    font-size: 25px;
}
.futer .futer3 p{
    margin-top: 20px;
    font-size: 20px;
}
.futer .futer3 i{
    font-size: 30px;
}
.futer .futer3 .ig2{
    margin-left: 15px;
}
.futer .futer3 .ig3{
    margin-left: 15px;
}
.futer .futer3 .ig4{
    margin-left: 15px;
}
.futer .futer4{
    border-right: 2px solid #595959 ;
    height: auto;
    background-color: #080808;
    width: 17%;
}





@media screen and (max-width:1025px){
    .main{
        height: 50vh;
    }
    .nav2 .son h1{
        font-size: 5em;
    }
    .nav2 .son button{
        background-color: #dec05f;
        font-size: 1em;
        font-weight: bold;
        border: none;
        border-radius: 100px;
        padding: 25px 100px;
        position: absolute;
        left: 22%;
        top: 30%;
    }
    .image{
        font-size: 20px;
        color: white;
        display: none;
        height: 70vh;
    }
    .image{
        font-size: 20px;
        color: white;
        display: grid;
        height: 200vh;
    }
    .image .image1{
        font-weight: bold;
        background-size: cover;
        background-image: url(../IMAGE/IMG_1026.JPG);
        width: 100%;
    }
    .image .image1:hover{
        background-position: center;
        background-size: cover;
        background-image: url(../IMAGE/IMG_1044.JPG);
        cursor: pointer;
    }
    
    .image .image1 h2{
        color: #dec05f;
        margin-top: 30px;
        margin-left: 20px;
    }
    .image .image1 p{
        margin-left: 20px;
    }
    .image .image2{
        font-weight: bold;
        background-size: cover;
        background-image: url(../IMAGE/IMG_1075.JPG);
        width: 100%;
    }
    .image .image2:hover{
        background-position: center;
        background-size: cover;
        background-image: url(../IMAGE/IMG_1036.JPG);
        cursor: pointer;
    }
    .image .image2 h2{
        color: #dec05f;
        margin-left: 20px;
        margin-top: 30px;
    }
    .image .image2 p{
        margin-left: 20px;
    }
    .image .image3{
        font-weight: bold;
        background-size: cover;
        background-image: url(../IMAGE/IMG_1032.JPG);
        width: 100%;
    }
    .image .image3:hover{
        background-position: center;
        background-size: cover;
        background-image: url(../IMAGE/IMG_1037.JPG);
        cursor: pointer;
    }
    .image .image3 h2{
        color: #dec05f;
        margin-left: 20px;
        margin-top: 30px;
    }
    .image .image3 p{
        margin-left: 20px;
    }
    .image .image4{
        background-repeat: borepeat;
        font-weight: bold;
        background-size: cover;
        background-image: url(../IMAGE/IMG_1030.JPG);
        width: 100%;
    }
    .image .image4:hover{
        background-position: center;
        background-size: cover;
        background-image: url(../IMAGE/IMG_1039.JPG);
        cursor: pointer;
    }
        
    .image .image4 h2{
        color: #dec05f;
        margin-left: 20px;
        margin-top: 30px;
    }
    .image .image4 p{
        margin-left: 20px;
    }
    .imag{
        display: none;
    }
    
    

}
@media screen and (max-width:768px){
    .main{
        height: 50vh;
    }
    .futer3{
        display: none;
    }
    .navbar{
        display: none;
    }
    .nav2 .son button{
        background-color: #dec05f;
        font-size: 1em;
        font-weight: bold;
        border: none;
        border-radius: 100px;
        padding: 25px 100px;
        position: absolute;
        left: 22%;
        top: 35%;
    }
}
@media screen and (max-width:480px){
    .nav2 .son h1{
        font-size: 2.5em;
    }
    .main{
        height: 40vh;
    }
    .navbar ul{
        list-style-type: none;
        border-bottom: 2px solid #595959;
        color: #afafaf;
        align-items: center;
        background-color:#080808;
        height: auto;
        flex-wrap: wrap;
        font-weight: bold;
        display: none;
        justify-content: space-around;
    }
    .navbar .ic{
        margin-right: 20px;
        color: #afafaf;
        font-size: 30px;
    }
    .nav2 .son button{
        background-color: #dec05f;
        font-size:10px;
        font-weight: bold;
        border: none;
        border-radius: 100px;
        padding: 10px 50px;
        position: absolute;
        left: 22%;
        top: 24%;
    }
    .fresh{
        display: none;
    }




    .fre{
        border-bottom: 2px solid #595959;
        background-color: #080808;
        display: grid;
        height: auto;
        width: 100%;
    }
    .fre .or1{
        border-bottom: 2px solid #595959;
        background-color: #080808;
        height: 5vh;
        width: 100%;
    }
    .fre .or2{
        align-items: center;
        background-color:#080808;
        height: auto;
        width: 90%;
    }
    .fre .og2 .or2son1{
        display: flex;
    }
    .or2 .or2son1 .fam1{
        margin-top: 0;
        margin-left: 20px;
        color: #afafaf;
        font-weight: bold;
    }
    .or2 .or2son1 .fam1 h1{
        margin-top: 10px;
        color: #dec05f;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .or2 .or2son1 .fam1 p{
        font-size: 10px;
    }
    .or2 .or2son1 .fam1 .dp{
        margin-top: 20px;
    }
    .or2 .or2son1 .fam1 .dp button{
        margin-top: 20px;
        margin-bottom: 10%;
    }
    .or2  .fam2{
        margin-left: 20px;
        margin-top: 20px;
        height: 30vh;
        width: 100%;
    }
    
    
    
    
    .ot{
        border-bottom: 2px solid #595959;
        color: #dec05f;
        height: 20vh;
        display: flex;
    }
    .ot .ot1{
        border-right: 2px solid #595959;
        width: 35%;
        background-color: #080808;
    }
    .ot .ot1 h1{
        margin-top: 30px;
        margin-left: 50%;
    }
    .ot .ot1 p{
        margin-left: 50%;
    }
    .ot .ot2{
        border-right: 2px solid #595959;
        width: 20%;
        background-color: #080808;
    }
    .ot .ot2 h1{
        margin-top: 30px;
        margin-left: 40%;
    }
    .ot .ot2 p{
        margin-left: 40%;
    }
    .ot .ot3{
        border-right: 2px solid #595959;
        width: 45%;
        background-color: #080808;
    }
    .ot .ot3 h1{
        margin-top: 30px;
        margin-left: 10%;
    }
    .ot .ot3 p{
        margin-left: 10%;
    }
    .image{
        display: none;
    }
    .imag{
        font-size: 20px;
        height: 150vh;
        width:100%;
        color: white;
        display: grid;
    }
    .imag .imag1{
        font-weight: bold;
        background-size: cover;
        background-image: url(../IMAGE/IMG_1026.JPG);
        width: auto;
    }
    .imag .imag1:hover{
        background-position: center;
        background-size: cover;
        background-image: url(../IMAGE/IMG_1044.JPG);
        cursor: pointer;
    }
    
    .imge .imag1 h2{
        color: #dec05f;
        margin-top: 30px;
        margin-left: 20px;
    }
    .imge .imag1 p{
        margin-left: 20px;
    }
    .imag .imag2{
        font-weight: bold;
        background-size: cover;
        background-image: url(../IMAGE/IMG_1075.JPG);
        width: auto;
    }
    .imag .imag2:hover{
        background-position: center;
        background-size: cover;
        background-image: url(../IMAGE/IMG_1036.JPG);
        cursor: pointer;
    }
    .imag .imag2 h2{
        color: #dec05f;
        margin-left: 20px;
        margin-top: 30px;
    }
    .imag .imag2 p{
        margin-left: 20px;
    }
    .imag .imag3{
        font-weight: bold;
        background-size: cover;
        background-image: url(../IMAGE/IMG_1032.JPG);
        width: auto;
    }
    .imag .imag3:hover{
        background-position: center;
        background-size: cover;
        background-image: url(../IMAGE/IMG_1037.JPG);
        cursor: pointer;
    }
    .imag .imag3 h2{
        color: #dec05f;
        margin-left: 20px;
        margin-top: 30px;
    }
    .imag .imag3 p{
        margin-left: 20px;
    }
    .imag .imag4{
        background-repeat: borepeat;
        font-weight: bold;
        background-size: cover;
        background-image: url(../IMAGE/IMG_1030.JPG);
        width: auto;
    }
    .imag .imag4:hover{
        background-position: center;
        background-size: cover;
        background-image: url(../IMAGE/IMG_1039.JPG);
        cursor: pointer;
    }
        
    .imag .imag4 h2{
        color: #dec05f;
        margin-left: 20px;
        margin-top: 30px;
    }
    .imag .imag4 p{
        margin-left: 20px;
    }
    .futer{
        border-top: 2px solid #595959;
        background-color: #080808;
        display: flex;
        flex-wrap: wrap;
    }
    .futer .futer1 h1{
        font-size: 20px;
        color: #dec05f;
        margin-top: 30%;
        margin-bottom: 7%;
    }
    .futer .futer1 .son1{
        margin-bottom: 10px;
    }
    .futer .futer1 .son1 input{
        border: none;
        background-color: #353525;
        font-weight: bold;
        padding: 20px 50px;
    }
    .futer .futer1 .son2{
        margin-bottom: 10px;
    }
    .futer .futer1 .son2 input{
        border: none;
        background-color: #353525;
        font-weight: bold;
        padding: 20px 50px;
    }
    .futer .futer1 .son3{
        margin-bottom: 40px;
    }
    .futer .futer1 .son3 input{
        border: none;
        background-color: #353525;
        font-weight: bold;
        padding: 20px 50px;
    }
    .futer .futer2{
        margin-left: 50px;
        margin-top: 10px;
    }
    .futer .futer2 textarea{
        width: 93%;
        margin-top: 20px;
        border: none;
        background-color: #353525;
    }
    .futer .futer2 button{
        margin-top: 5px;
        margin-left: 1px;
        border: none;
        background-color: #dec05f;
        font-weight: bold;
        padding: 20px 112.5px;
    }
    .futer .futer3{
        margin-left: 7%;
        margin-top: 10.5%;
        color: #dcdcdc;
    }
    .futer .futer3 h4{
        margin-bottom: 20px;
        font-size: 25px;
    }
    .futer .futer3 p{
        margin-top: 20px;
        font-size: 20px;
    }
    .futer .futer3 i{
        font-size: 30px;
    }
    .futer .futer3 .ig2{
        margin-left: 15px;
    }
    .futer .futer3 .ig3{
        margin-left: 15px;
    }
    .futer .futer3 .ig4{
        margin-left: 15px;
    }
    .futer .futer4{
        border-right: 2px solid #595959 ;
        height: auto;
        background-color: #080808;
        width: 17%;
    }
    
    
    
}














